.image {
    max-width: 398px;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .image {
        max-width: 282px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .image {
        max-width: 251px;
        width: 100%;
    }
}