.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__item::after {
        color: white;
        font-size: 1.39rem;
        content: "";
        display: block;
        width: 20%;
        height: 1.5px;
        margin: 470px auto 0;
        background-color: #FFF;
    }
}

@media screen and (max-width: 1024px) {
    .navigation {
        &__item::after {
            width: 40%;
            margin: 350px auto 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        &__item::after {
            width: 50%;
            margin: 220px auto 0;
        }
    }
}