.subtitle {
    font-size: 4rem;
    line-height: 2.784rem;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .subtitle {
        font-size: 1.944rem;
        line-height: 2.44rem;
    }
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 2rem;
        margin: 20px 0;
        line-height: 2.11rem;
    }
}