.title-page {
    padding: 550px 0 70px;
    &__description {
        font-size: 2rem;
        line-height: 1.722rem;
        font-weight: 400;
        margin: 40px 0 40px;
    }
}

@media screen and (max-width: 1024px) {
    .title-page {
        padding: 350px 0 20px;
        &__description {
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .title-page {
        padding-top: 170px;
        &__description {
            font-size: 1rem;
            margin: 10px 0 40px;
        }
    }
}