.topbutton {
    display: inline-block;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 19px;
    right: 19px;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #696966;
    &::before {
        content: "";
        width: 30px;
        height: 18px;
        display: block;
        background-image: url("../icons/arrow.svg");
        margin: 0 auto;
        margin-top: 35%;
    }
    &:hover {
        cursor: pointer;
        background-color: #696966;
        &:active {
            background-color: #d3c4c4;
        }
    }
}