$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(255, 255, 255);
$third-color: rgba(71, 71, 71, 1);
$bg-color: rgba(243, 247, 234, 1);
$footer-color: #262626;
$small-font: 18px;
$base-font: 1.39rem;
$secondary-font: 1.67rem;
$middle-font: 1.11rem;
$big-font: 1.944rem;