* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 28px;
}

body {
    font-family: 'Source Serif Pro', Arial, 'Dancing Script', sans-serif;
    text-align: center;
}

h1,
h2 {
    font-family: "Dancing Script", cursive;
}

a {
    text-decoration: none;
    display: block;
    color: white;
    -webkit-transition: color .3s;
    transition: color .3s;
}

a:hover {
    color: #5fcff1;
}

.icons::before {
    content: "";
    width: 57px;
    height: 22px;
    display: block;
    background-image: url("../icons/Vector.svg");
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .icons::before {
        width: 57px;
        height: 22px;
        margin: 0 auto;
    }
}

.background {
    position: relative;
    background-image: url(../img/banner.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

.background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .background {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .background {
        padding-bottom: 99px;
    }
}

.logo {
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 50px;
    font-size: 4rem;
    color: white;
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 1.3rem;
    }
}

.title-page {
    padding: 550px 0 70px;
}

.title-page__description {
    font-size: 2rem;
    line-height: 1.722rem;
    font-weight: 400;
    margin: 40px 0 40px;
}

@media screen and (max-width: 1024px) {
    .title-page {
        padding: 350px 0 20px;
    }
    .title-page__description {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .title-page {
        padding-top: 200px;
    }
    .title-page__description {
        font-size: 1rem;
        margin: 10px 0 40px;
    }
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation__item::after {
    color: white;
    font-size: 1.39rem;
    content: "";
    display: block;
    width: 20%;
    height: 1.5px;
    margin: 470px auto 0;
    background-color: #FFF;
}

@media screen and (max-width: 1024px) {
    .navigation__item::after {
        width: 40%;
        margin: 350px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .navigation__item::after {
        width: 50%;
        margin: 270px auto 0;
    }
}

.wrapper {
    max-width: 914px;
    margin: 0 auto;
    font-size: 0;
    white-space: nowrap;
}

.menu {
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 90px;
}

.menu__description {
    margin: 60px 20px 35px;
    line-height: 1.72rem;
}

@media screen and (max-width: 1024px) {
    .menu {
        padding: 40px 0;
    }
    .menu__description {
        font-size: 1rem;
        margin: 20px 10px 10px;
        line-height: 1.55rem;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        padding-top: 40px;
    }
    .menu__description {
        font-size: 1rem;
        margin: 20px 0;
        padding: 0 15px;
        line-height: 1.388rem;
    }
}

.navi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navi__item {
    content: "";
    display: inline-block;
    width: 3px;
    height: 150px;
    background-color: #c0bebe;
}

@media screen and (max-width: 1024px) {
    .navi__item {
        width: 2px;
        height: 100px;
    }
}

.subtitle {
    font-size: 4rem;
    line-height: 2.784rem;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .subtitle {
        font-size: 1.944rem;
        line-height: 2.44rem;
    }
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 2rem;
        margin: 20px 0;
        line-height: 2.11rem;
    }
}

.column {
    width: 100%;
    margin-bottom: 50px;
}

.column__heading img,
.column__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.column__heading {
    background: #000;
}

.column__heading img {
    opacity: 0.6;
}

.backgroundLogo {
    position: relative;
    background-image: url(../img/logo.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.backgroundLogo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.countdown-wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.title {
    font-size: 3rem;
    margin: 0 0 70px;
    font-family: Source Serif Pro;
}

@media screen and (max-width: 1500px) {
    .title {
        font-size: 2rem;
        margin: 0 0 50px;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 1.5rem;
        margin: 0 0 30px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1rem;
        margin: 0 0 30px;
    }
}

.item {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid;
    backdrop-filter: blur(5px);
    padding: 50px 0 0;
    height: 500px;
}

@media screen and (max-width: 1500px) {
    .item {
        height: 400px;
    }
}

@media screen and (max-width: 1024px) {
    .item {
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .item {
        height: 250px;
    }
}

.event {
    display: flex;
    transform: scale(2);
    align-items: center;
    justify-content: center;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h3 {
    margin: 0 0 5px;
    font-size: 2rem;
}

@media screen and (max-width: 1500px) {
    .time h3 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1024px) {
    .time h3 {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .time h3 {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 420px) {
    .time h3 {
        font-size: 0.3rem;
    }
}

small {
    font-size: smaller;
}

@media screen and (max-width: 1500px) {
    small {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    small {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    small {
        font-size: 0.4rem;
    }
}

.socials {
    margin-bottom: 50px;
}

.socials__link {
    display: inline-block;
    -webkit-transition: all .2s linear .1s;
    transition: all .2s linear .1s;
    background-color: #262626;
    border-radius: 50%;
    width: 82px;
    height: 82px;
    line-height: 82px;
    font-size: 1.3rem;
    color: white;
}

.socials__link:hover {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
}

.socials__link:not(:last-child) {
    margin-right: 40px;
}

@media screen and (max-width: 1024px) {
    .socials {
        margin-bottom: 30px;
    }
    .socials__link {
        width: 52px;
        height: 52px;
        line-height: 52px;
    }
    .socials__link:not(:last-child) {
        margin-right: 30px;
    }
}

@media screen and (max-width: 250px) {
    .socials__link {
        display: block;
    }
    .socials__link:not(:last-child) {
        margin: 0 auto 10px;
    }
    .socials__link:last-child {
        margin: 0 auto;
    }
}

.topbutton {
    display: inline-block;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 19px;
    right: 19px;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #696966;
}

.topbutton::before {
    content: "";
    width: 30px;
    height: 18px;
    display: block;
    background-image: url("../icons/arrow.svg");
    margin: 0 auto;
    margin-top: 35%;
}

.topbutton:hover {
    cursor: pointer;
    background-color: #696966;
}

.topbutton:hover:active {
    background-color: #d3c4c4;
}


/*# sourceMappingURL=style.css.map */